* {
    margin: 0;
}

.back-color-yellow {
    background-color: #F7B617;
}

.back-color-black {
    background-color: rgba(0, 0, 0, 0.6);
}

.back-color-black {
    background-color: black;
}

.container-fluid {
    padding: 0!important;
}

.img-header,
.car {
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.banner-text,
.banner-text-mobile {
    position: absolute;
    color: white;
    width: 40%;
}

.black-car {
    position: absolute;
    color: white;
    width: 30%;
}

.div-bord {
    width: 50%;
}

.division,
.iphone,
.tarifas,
.content-foot {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-small {
    width: 20%;
}

.app {
    flex: 0 1 295px;
    line-height: 30px;
}

.iphone,
.tarifas {
    color: white;
    background-color: #F7B617;
}

.iphone .d-flex {
    width: 80%;
    justify-content: space-around;
}

.car {
    align-items: flex-start!important;
}

.black-car {
    height: 100%;
    align-items: center;
}

.tarifas {
    justify-content: space-around;
}

.cont-tarifas {
    width: 50%;
    padding: 5%;
}

.cont-tarifas .d-flex {
    align-items: baseline;
    justify-content: center;
}

.footer .cont-d.d-flex,
.cont-text-3 {
    flex-direction: column;
}

.content-foot {
    justify-content: space-between;
    align-items: flex-end;
}

.cont-text-1 {
    position: relative;
    right: 0;
}


/* Medium devices (tablets, 768px and up) */

@media (max-width: 768px) {
    .banner-text-mobile {
        width: 80%;
    }
    .logo-small {
        width: 30%;
    }
    .iphone,
    .tarifas {
        flex-direction: column;
        justify-content: center;
    }
    .black-car,
    .cont-tarifas {
        width: 100%;
    }
    .tarifas .border {
        margin-top: 10%;
    }
    .content-foot {
        align-items: end;
    }
    .content-text-2 {
        order: 1;
        position: relative;
    }
    .cont-text-1 {
        order: 2;
        position: absolute;
        right: 10%;
    }
    .cont-text-3 {
        order: 3;
        align-self: center;
    }
    .text-white.one {
        padding: 0px!important;
    }
}